.carousel1__item
    .carousel1__mini
        p Ready in
        p 40
        p min
    .carousel1__item-image
        img(src="img/recipes/recipe1c.jpg", alt="")
        ul.rating__list
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star__empty.png", alt="")
    .carousel1__item-text
        .title__wrapper
            h2.h2 Tasty pancakes
            h3.h3 Season favorites
        .text.scrollbar-macosx
            p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
            br
            p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            br
            p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
        .carousel2__wrapper
            .carousel2
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/recipe1.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/recipe1a.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/recipe1b.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/recipe1c.jpg", alt="")