.carousel1__item
    .carousel1__mini
        p Ready in
        p 30
        p min
    .carousel1__item-image
        img(src="img/recipes/Bakery-Style-Chocolate-Chip-Muffins-49B.jpg", alt="")
        ul.rating__list
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star.png", alt="")
            li.rating__item
                img(src="img/star__empty.png", alt="")
            li.rating__item
                img(src="img/star__empty.png", alt="")
    .carousel1__item-text
        .title__wrapper
            h2.h2 Muffins con chocolate chips
            h3.h3 Season favorites
        .text.scrollbar-macosx
            p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
        .carousel2__wrapper
            .carousel2
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/Chocolate-Chip-Muffins_EXPS_TOHAM21_11638_B12_04_1b-1.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/image.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/recipe2.jpg", alt="")
                .carousel2__item
                    .carousel2__item-image
                        img(src="img/recipes/brownie-de-chocolate-receta.jpg", alt="")