
doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title(Bakery:homepage)
	script(type="text/javascript" src="js/main.js")
	link(rel="stylesheet" href="css/main.css")
	link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

body
	.wrapper
		header.header
			.container 
				.logo
					a(href="#") 
				.menu-list
				ul
					li
						a(href="#")
					li
						a(href="#")
					li
						a(href="#")
		
		section.content

h1 Hola mundo

h2 hola hola hola 

h3 Por que/////

h4 flfñgñgñgñgñh

h1 LSKFJESLRJGSEIORUEGTS SDGJDFGJDSÑFKGJDÑFJ


