
doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title(Bakery:homepage)
	script(type="text/javascript" src="js/main.js")
	link(rel="stylesheet" href="css/main.css")
	link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

body
	header.header
		.container

			.logo
				a(href="#").logo__link Gustoso

			nav.nav
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Welcome
					li.nav__item
						a(href="#").nav__link Menu
					li.nav__item
						a(href="#").nav__link Reservations
					li.nav__item
						a(href="#").nav__link News
					li.nav__item
						a(href="#").nav__link Contact

			.header__right
				ul.socials
					li.socials__item
						a(href="#").socials__link
							img(src="img/twitter.svg", alt="")
							img(src="img/twitter-hover.svg", alt="")
					li.socials__item
						a(href="#").socials__link
							img(src="img/fb.svg", alt="")
							img(src="img/fb-hover.svg", alt="")
					li.socials__item
						a(href="#").socials__link
							img(src="img/insta.svg", alt="")
							img(src="img/insta-hover.svg", alt="")

	main.main
		section.section__home
			.wrapper
				.wrapper__center
					h1.h1 Pastry with love
					img(src="img/dashed-line.png", alt="").img__dashed
					p.title__text We’re bringing you fresh ingredients every day in ways you can’t resist.

					button(type="button").button Our menu


