
doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title(Bakery:homepage)
	link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
	link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
	link(rel="stylesheet" href="css/scrollbar.css")
	link(rel="stylesheet" href="css/main.css")
	link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

body
	header.header
		.container
			.burger-menu
				a(href="#").burger-link.j-burger-link
					img(src="img/menu.png", alt="")
				a(href="#").burger-close-link.j-burger-close-link
					img(src="img/close.png", alt="")
			.logo
				a(href="#").logo__link Gustoso

			nav.nav
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Welcome
					li.nav__item
						a(href="#").nav__link Menu
					li.nav__item
						a(href="#").nav__link Reservations
					li.nav__item
						a(href="#").nav__link News
					li.nav__item
						a(href="#").nav__link Contact

			.header__right
				ul.socials
					li.socials__item
						a(href="#").socials__link
							img(src="img/twitter.svg", alt="")
							img(src="img/twitter-hover.svg", alt="")
					li.socials__item
						a(href="#").socials__link
							img(src="img/fb.svg", alt="")
							img(src="img/fb-hover.svg", alt="")
					li.socials__item
						a(href="#").socials__link
							img(src="img/insta.svg", alt="")
							img(src="img/insta-hover.svg", alt="")

	main.main
		section.section__home
			.wrapper
				.wrapper__center
					h1.h1 Pastry with love
					img(src="img/dashed-line.png", alt="").img__dashed
					p.title__text We’re bringing you fresh ingredients every day in ways you can’t resist.

					a(href="https://www.mrkale.es/" target="_blank").button Our menu
			.circle
				img(src="img/figure1.png", alt="")

		section.section__second
			.wrapper
				.section__second-left
					h2.h2 Art of cakes
					h3.h3 We create delicious memories
					.text Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
					.about-chef
						.about-chef__title Chef Cook
						.about-chef__name
							.chef__name.chef__name--name Benito
							.avatar
								img(src="img/chef.jpg", alt="")
							.chef__name.chef__name--surname Gaspare
						.about-chef__quote Unique creations for unique
							br
							| occasions.

				.section__second-right
					.img__wrapper
						.img
							span Tastes so
								br
								| good!
							img(src="img/figure2.png", alt="")
						ul.img__list
							li.img__item
								img(src="img/img1a.png", alt="").img--first
								img(src="img/img1a.png", alt="").img--second
							li.img__item
								img(src="img/img1b.png", alt="").img--first
								img(src="img/img1b.png", alt="").img--second
							li.img__item
								img(src="img/img1c.png", alt="").img--first
								img(src="img/img1c.png", alt="").img--second
							li.img__item
								img(src="img/img1d.png", alt="").img--first
								img(src="img/img1d.png", alt="").img--second

		section.section__third
			.wrapper
				.carousel1
					include pug-includes/carousel1.1.pug
					include pug-includes/carousel1.2.pug
					include pug-includes/carousel1.3.pug
			.circle
				img(src="img/figure1.png", alt="")

		section.section__fourth
			.wrapper
				button.button.j-contact-button Contact us

	footer.footer
		.wrapper
			.logo
				.footer__line--left
				.logo__link Gustoso
				.footer__line--right

	.contact-form.j-contact-form
		.contact-background.j-contact-background
		form.form(action="").j-form
			a(href="#").close-link.j-close-link
				img(src="img/close.png", alt="")
			p.form__title Write us!
			input(type="text" placeholder="Your name")
			input(type="text" placeholder="Your e-mail")
			textarea(name="", placeholder="Your message")
			button.button Send








	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
	script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
	script(type="text/javascript" src="js/main.js")
	script(type="text/javascript" src="js/jquery.scrollbar.min.js")


